$include /etc/inputrc

set editing-mode vi

# Adds punctuation as word delimiters
set bind-tty-special-chars off

# Completion Options
set page-completions on
set completion-ignore-case on

$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history

    set keymap vi-insert
    "\C-l": clear-screen
    "\C-w": backward-kill-word
$endif

set keymap vi
